<!DOCTYPE html>
<html
	xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Alguel de livros</title>
	    <link rel="stylesheet" href="style/style.css">
	</head>
	<body>
	   	<nav id="menu-h">
	        <ul>
	            <li><a href="/">Início</a></li>
	            <li><a href="/cadastrarLivro">Cadastrar Livro</a></li>
	            <li><a href="/sobre">Sobre o Sistema</a></li>
	        </ul>
	    </nav>
	    <!------------------------------------------------------------------------------------------>
		<div>
			<h2 class="title">Livros Cadastrados</h2>
			<br/>
		</div>
		<div>
			<table id="tabela">
			  <tr>
			    <th>Id</th>
			    <th>Título</th>
			    <th>Autor</th>
			    <th>Editora</th>
			    <th>Gênero</th>
			    <th>Quantidade</th>
			    <th>Preço</th>
			    <th>Cadastro</th>
			    <th>Última Modificação</th>
			    <th>Codigo de Barras</th>
			    <th colspan="2">Ações</th>
			  </tr>
			  <tr th:each="livro: ${lista}">
			    <td th:text="${livro.id}"></td>
			    <td th:text="${livro.titulo}"></td>
			    <td th:text="${livro.autor}"></td>
			  	<td th:text="${livro.editora}"></td>
			    <td th:text="${livro.genero}"></td>
			    <td th:text="${livro.quantidade}"></td>
			    <td th:text="${livro.preco}"></td>
			    <td th:text="${livro.dataCadastro}"></td>
			    <td th:text="${livro.dataUpdate}"></td>
			    <td th:text="${livro.codigoDeBarras}"></td>
			    <td>
			    	<a th:href="@{/delete/{id}(id=${livro.id})}">
				    	<button 
				    		class="btn_del" 
				    		type="button" 
				    		value="Excluir">
				    		Excluir
				    	</button>
				    </a>
			    </td>
			    <td>
			    	<a th:href="@{/edit/{id}(id=${livro.id})}">
				    	<button 
				    		class="btn_ok" 
				    		type="button" 
				    		value="Editar">
				    		Editar
				    	</button>
				    </a>
			    </td>
			  </tr>
			</table>
		</div>
	</body>
</html>