<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Cadastrar Produto</title>
	    <link rel="stylesheet" href="style/style.css">
	    <!------------------------------------------------------------------------------------------>
	    <script type="text/javascript">
	        function formatar(mascara, input){
	        	  var i = input.value.length;
	        	  var saida = mascara.substring(0,1);
	        	  var texto = mascara.substring(i)
	        	  if (texto.substring(0,1) != saida){
	        	            input.value += texto.substring(0,1);
	        	  }
	        }
    	</script>
    	<!------------------------------------------------------------------------------------------>
    </head>
    <body>
    	<nav id="menu-h">
	        <ul>
	            <li>
	            <a href="/">Início</a>
	            </li>
	            <li><a href="/cadastrarLivro">Cadastrar Livro</a></li>
	            <li><a href="/sobre">Sobre o Sistema</a></li>
	        </ul>
	    </nav>
	    <!------------------------------------------------------------------------------------------>
    	<div class="title"><h2>Cadastrar Livro</h2></div>
    	<div class="container">
		  <form method="post" id="formLivro">
		  	<!--Título-->
			<div class="row">
				<div class="col-label">
			      <label>Título</label>
			    </div>
			    <div class="col-input">
			      <input type="text" name="titulo" required>
			    </div>
			</div>
			<!--Autor-->
			<div class="row">
			    <div class="col-label">
			      	<label>Autor</label>
			    </div>
			    <div class="col-input">
			      <input type="text" name="autor" required>
			    </div>
			</div>
			<!--Editora-->
			<div class="row">
			    <div class="col-label">
			      	<label>Editora</label>
			    </div>
			    <div class="col-input">
			      <input type="text" name="editora" required>
			    </div>
			</div>
			<!--Gênero-->
			<div class="row">
			    <div class="col-label">
			      	<label>Gênero</label>
			    </div>
			    <div class="col-input">
			      	<select id="generoCadastro" name="genero">
			      	  <option value="Outros">Outros</option>
					  <option value="Ficção">Ficção</option>
					  <option value="Tecnologia">Tecnologia</option>
					  <option value="Matemática">Matemática</option>
					  <option value="Línguas">Línguas</option>
					  <option value="Drama">Drama</option>
					  <option value="Romance">Romance</option>
					</select>
			    </div>
			</div>
			<!--Quantidade-->
			<div class="row">
			    <div class="col-label">
			      	<label>Quantidade</label>
			    </div>
			    <div class="col-input">
			      <input type="number" name="quantidade" min="1" required>
			    </div>
			</div>
			<!--Preço-->
			<div class="row">
			    <div class="col-label">
			      	<label>Preço</label>
			    </div>
			    <div class="col-input">
			      <input type="number" name="preco" min="0.01" required>
			    </div>
			</div>
			<!--Código de Barras-->
			<div class="row">
			    <div class="col-label">
			      	<label>Código de Barras</label>
			    </div>
			    <div class="col-input">
			      <input 
				      type="text" 
				      name="codigoDeBarras" 
				      required 
				      maxlength="15"
				      placeholder="X XXXXXX XXXXXX"
				      title="X XXXXXX XXXXXX"
				      pattern="([0-9]{1}[\ ]?[0-9]{6}[\ ]?[0-9]{6})$"
				      OnKeyPress="formatar('# ###### ######', this)" >
			    </div>
			</div>
			<!--Botões-->
			<div class="row">
				<div class="col-label"></div>
				<div class="col-input">
					<input type="submit" value="Cadastrar"></input>
				</div>
				<div class="col-label"></div>
				<div class="col-input">
					<input type="reset" value="Limpar"></input>
				</div>
			</div>
		  </form>
		</div>
    <body>
</html>
